.jumbotron{
    background-color: blueviolet;
    color: black;
}
.card-hotel{
    flex: 1 150 px;
    margin-top: 10px;
    
}
.bg-navbar{
    background-color: #101010 !important;
}
.btn-reserve{
    width: 100%;
    padding-bottom: 3px;
    margin-bottom: 5px;
    margin-top: 7px;
}
.margin_top{
    margin-top: 15px;
}
.margin_right{
    margin-right: 30px;
}
footer{
    padding: 10px, 10px, 0, 10px;
    background-color: blueviolet;
    margin-bottom: 0px;
    margin-top: 25px;
}