.jumbotron{
    background-color: blueviolet;
    color: black;
}
.card-hotel{
    flex: 1 200 px;
    
    margin-top: 10px;
    
}
.btn-reserve{
    width: 100%;
    padding-bottom: 3px;
}
.margin_top{
    margin-top: 15px;
}
footer{
    padding: 10px, 10px, 0, 10px;
    background-color: blueviolet;
    margin-bottom: 0px;
    margin-top: 25px;
}